MONGODB_DENUNCIAS_URI=mongodb+srv://seu_usuario:sua_senha@cluster0.sffzj.mongodb.net/Denuncias?retryWrites=true&w=majority&appName=Cluster0
MONGODB_LOGIN_URI=mongodb+srv://seu_usuario:sua_senha@cluster0.sffzj.mongodb.net/Login&Registro?retryWrites=true&w=majority&appName=Cluster0
PORT=3000
API_BASE_URL=http://localhost:3000
